{
//  "extends": "standard",
//  "extends": "react-app",
  "extends": ["standard", "standard-react"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
//    "max-len": ["error", 170],
    "no-console": "off",
    "prefer-arrow-callback": 2,
//    "linebreak-style": "off"
  },
  "globals": {
    "_": true
  }
}